
body {
    padding-top: 20px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.panel {
  margin-bottom: 10px;
}

.container .row {
  margin-bottom: 10px;
}
@media (min-width: 992px) {
  .hap-content {
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .first-row div .table-container {
    min-height: 90px;
    max-height: 90px;
    overflow: auto;
  }
  .second-row div .table-container,
  .second-row div .content-container  {
    min-height: 280px;
    max-height: 280px;
    overflow: auto;
  }
  .third-row div .table-container {
    min-height: 90px;
    max-height: 90px;
    overflow: auto;
  }
}

.table-container table {
  margin-bottom: 0;
}

.second-row div .content-container {
  padding: 10px;
}

.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > td {
  padding: 3px 10px;
}

caption .glyphicon,
.panel-heading .glyphicon {
  margin-right: 5px;
}

button .glyphicon {
  margin-left: 5px;
  margin-right: 5px;
}

.disabledcontent {
  pointer-events: none;
  opacity: 0.4;
}