{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Have A Plan :: Your Daily Organizer</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="{% static "hap/css/bootstrap.min.css" %}">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static "hap/css/hap.css" %}">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Page Content -->
    <div class="hap-content container">

        <div class="row first-row">

          <div class="col-md-4">
            <div class="panel panel-default{% if 'PersonalStatus' not in module_names %} disabledcontent{% endif %}">
              <div class="panel-heading">
                <div class="pull-right">
                  <button type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
                </div>
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>Personal status
              </div>
              <div class="table-container">
                <table class="table table-condensed">
                  <tbody>
                    <tr>
                      <td width="40%">Mood</td>
                      <td align="right">0</td>
                      <td width="40%">Health</td>
                      <td align="right">70</td>
                    </tr>
                    <tr>
                      <td>Stress</td>
                      <td align="right">0</td>
                      <td>Sleep</td>
                      <td align="right">-10</td>
                    </tr>
                    <tr>
                      <td>Activity</td>
                      <td align="right">70</td>
                      <td>Communications</td>
                      <td align="right">70</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="panel panel-default{% if 'Meals' not in module_names %} disabledcontent{% endif %}">
              <div class="panel-heading">
                <div class="pull-right">
                  <button type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
                </div>
                <span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span>Meals
              </div>
              <div class="table-container">
                <table class="table table-condensed">
                  <tbody>
                    <tr>
                      <td>Burek sa spanaćem + jogurt</td>
                      <td>08:45</td>
                      <td align="right">130</td>
                    </tr>
                    <tr>
                      <td>Kafa</td>
                      <td>10:10</td>
                      <td align="right">110</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="panel panel-default{% if 'Expense' not in module_names %} disabledcontent{% endif %}">
              <div class="panel-heading">
                <div class="pull-right">
                  <button type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
                </div>
                <span class="glyphicon glyphicon-eur" aria-hidden="true"></span>Expenses
              </div>
              <div class="table-container">
                <table class="table table-condensed">
                  <tbody>
                    <tr>
                      <td>Knjige</td>
                      <td align="right">2000</td>
                    </tr>
                    <tr>
                      <td>Filteri za bokal za vodu</td>
                      <td align="right">1200</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>
        <!-- /.row -->

        <div class="row second-row">

          <div class="col-md-4">
            <div class="panel panel-default{% if 'People' not in module_names %} disabledcontent{% endif %}">
              <div class="panel-heading">
                <div class="pull-right">
                  <button type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
                </div>
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>People
              </div>
              <div class="table-container">
                <table class="table table-condensed">
                  <tbody>
                    <tr>
                      <td>Smith Johnson</td>
                      <td>Truba</td>
                      <td align="right">08:20</td>
                    </tr>
                    <tr>
                      <td>Peregrine Livinghouse</td>
                      <td>Skype</td>
                      <td align="right">11:10</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <div class="col-md-5">
            <div class="panel panel-default{% if 'Action' not in module_names %} disabledcontent{% endif %}">
              <div class="panel-heading">
                <div class="pull-right">
                  <button type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
                </div>
                <span class="glyphicon glyphicon-flash" aria-hidden="true"></span>Actions
              </div>
              <div class="table-container">
                <table class="table table-condensed">
                  <tbody>
                    <tr>
                      <td>PQR</td>
                      <td>Do something about that nothing while it's black</td>
                      <td align="right">10</td>
                    </tr>
                    <tr>
                      <td>STACK</td>
                      <td>Remember to meake it modular</td>
                      <td align="right">[_]</td>
                    </tr>
                    <tr>
                      <td>PQR</td>
                      <td>Do something about that nothing while it's black</td>
                      <td align="right">10</td>
                    </tr>
                    <tr>
                      <td>STACK</td>
                      <td>Remember to meake it modular</td>
                      <td align="right">[_]</td>
                    </tr>
                    <tr>
                      <td>PQR</td>
                      <td>Do something about that nothing while it's black</td>
                      <td align="right">10</td>
                    </tr>
                    <tr>
                      <td>STACK</td>
                      <td>Remember to meake it modular</td>
                      <td align="right">[_]</td>
                    </tr>
                    <tr>
                      <td>PQR</td>
                      <td>Do something about that nothing while it's black</td>
                      <td align="right">10</td>
                    </tr>
                    <tr>
                      <td>STACK</td>
                      <td>Remember to meake it modular</td>
                      <td align="right">[_]</td>
                    </tr>
                    <tr>
                      <td>PQR</td>
                      <td>Do something about that nothing while it's black</td>
                      <td align="right">10</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="panel panel-default{% if 'Thoughts' not in module_names %} disabledcontent{% endif %}">
              <div class="panel-heading">
                <div class="pull-right">
                  <button type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button>
                </div>
                <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>Thoughts
              </div>
              <div class="content-container">
                <p>Neki tekst o nečemu što nije mnogo bitno, ali je važno da zauzima određeni prostor kako bi se stekao vizuelni utisak o izgledu teksta.</p>
                <p>Drugi paragraf je manje bitan od prvog, ali zbog potpunije slike poželjeno je da postoji zato što prosečni tekstualni unosi imaju više od jednog paragrafa.
                  Ako se pretpostavi da je prvi paragraf neka vrsta uvoda, može se zaključiti da se u drugom, zapravo, tema ozbiljnije načinje i pravi progres u
                  eventualnoj obradi problema ili informacija.
                </p>
                <p>Treći ne mora da postoji, ali je vizuelna predstava sa njegovim postojanjem, može se reći, kompletna.</p>
              </div>
            </div>
          </div>

        </div>
        <!-- /.row -->

        <div class="row third-row">

          <!-- Notable occurences -->
          <div class="col-md-3">
            <div class="panel panel-default{% if 'NotableOccurences' not in module_names %} disabledcontent{% endif %}">
              <div class="panel-heading">
                <div class="pull-right">
                  <button type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
                </div>
                <span class="glyphicon glyphicon-flag" aria-hidden="true"></span>Notable occurences
              </div>
              <div class="table-container">
                <table class="table table-condensed">
                  <tbody>
                    <tr>
                      <td>Odlazak na ringišpil</td>
                      <td align="right">[X]</td>
                    </tr>
                    <tr>
                      <td>Vanzemaljac u prolazu</td>
                      <td align="right">[_]</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <!-- /Notable occurences -->

          <!-- Notes -->
          <div class="col-md-3">
            <div class="panel panel-default{% if 'Notes' not in module_names %} disabledcontent{% endif %}">
              <div class="panel-heading">
                <div class="pull-right">
                  <button type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
                </div>
                <span class="glyphicon glyphicon-file" aria-hidden="true"></span>Notes
              </div>
              <div class="table-container">
                <table class="table table-condensed">
                  <tbody>
                    <tr>
                      <td>Omiljena boja: zelena</td>
                    </tr>
                    <tr>
                      <td>Razlozi za primenu dockera</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <!-- /Notes -->

          <!-- Vices -->
          <div class="col-md-3">
            <div class="panel panel-default{% if 'Vices' not in module_names %} disabledcontent{% endif %}">
              <div class="panel-heading">
                <div class="pull-right">
                  <button type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
                </div>
                <span class="glyphicon glyphicon-glass" aria-hidden="true"></span>Vices
              </div>
              <div class="table-container">
                <table class="table table-condensed">
                  <tbody>
                    <tr>
                      <td>Pivo</td>
                      <td align="right">1</td>
                    </tr>
                    <tr>
                      <td>Čokoladica Twix</td>
                      <td align="right">2</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <!-- /Vices -->

          <!-- Weather -->
          <div class="col-md-3">
            <div class="panel panel-default{% if 'Weather' not in module_names %} disabledcontent{% endif %}">
              <div class="panel-heading">
                <div class="pull-right">
                  <button type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
                </div>
                <span class="glyphicon glyphicon-cloud" aria-hidden="true"></span>Weather
              </div>
              <div class="table-container">
                <table class="table table-condensed">
                  <tbody>
                    <tr>
                      <td>Oblaci, vetar</td>
                      <td align="right">-10</td>
                    </tr>
                    <tr>
                      <td>Oblaci, kiša</td>
                      <td align="right">2</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <!-- /Weather -->

        </div>
        <!-- /.row -->


    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="{% static "hap/js/jquery.js" %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static "hap/js/bootstrap.min.js" %}"></script>
    <script src="{% static "hap/js/hap.js" %}"></script>
    <script>
      var base_url = 'http://haveaplan.dev/';
    </script>

</body>

</html>
