{% load i18n static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Have A Plan :: Login</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="{% static "hap/css/bootstrap.min.css" %}">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static "hap/css/hap.css" %}">
    <style>
        .form-row label {width: 50px}
        input {margin: 10px 0 10px 100px}
    </style>
</head>
<body>

    <!-- Page Content -->
    <div class="hap-content container">

        {% if form.errors and not form.non_field_errors %}
        <p class="errornote">
        {% if form.errors.items|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
        </p>
        {% endif %}

        {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
        <p class="errornote">
            {{ error }}
        </p>
        {% endfor %}
        {% endif %}

        <div id="content-main">

            <form action="{{ app_path }}" method="post" id="login-form">{% csrf_token %}
              <div class="form-row">
                {{ form.email.errors }}
                {{ form.email.label_tag }} {{ form.email }}
              </div>
              <div class="form-row">
                {{ form.password.errors }}
                {{ form.password.label_tag }} {{ form.password }}
                <input type="hidden" name="next" value="{{ next }}" />
              </div>
              {% url 'admin_password_reset' as password_reset_url %}
              {% if password_reset_url %}
              <div class="password-reset-link">
                <a href="{{ password_reset_url }}">{% trans 'Forgotten your password or username?' %}</a>
              </div>
              {% endif %}
              <div class="submit-row">
                <label>&nbsp;</label><input type="submit" value="{% trans 'Log in' %}" />
              </div>
            </form>

        </div>

    </div>
</body>
</html>